*
{
  font-size: 28px;
  font-weight: 300;
  box-sizing: border-box;
  
}
.alt1-menu
{
  border-radius: 20px;
  background-color:#292c2f;
  height: 300px;
  width: 400px;
  position: relative;
  margin-top: 50px;
  float: left;
  margin-left: 385px;
  margin-bottom: 50px;
  box-shadow: 15px 10px 20px grey;
  text-align: center;
}



/*slider*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -200%; }
95% { left: -200%; }
100% { left: -300%; }
}

body { margin: 0; } 
div#slider { overflow: hidden;}
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 

}

/*header*/

.header-fixed {
  background-color:#292c2f;
  box-shadow:0 1px 1px #ccc;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
  top:-100px;

  -webkit-transition:top 0.3s;
  transition:top 0.3s;
}

.header-fixed .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

/*  The header placeholder. It is displayed when the header is fixed to the top of the
  browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
  height: 80px;
  display: none;
}

/* The navigation links */

.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font:16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-fixed .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  text-decoration:none;
  color: #ffffff;
  opacity: 0.9;
  font-size:24px;
}

.header-fixed .header-limiter nav a:hover{
  opacity: 1;
  color: #608bd2;
  transition: 0.7s;
}


/* Fixed version of the header */

body.fixed .header-fixed {
  padding: 15px 40px;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

body.fixed .header-fixed-placeholder {
  display: block;
}
body.fixed .header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 13px;
}

body.fixed .header-fixed nav a {
    padding-top: 5px;
  }

/*
   We are clearing the body's margin and padding, so that the header fits properly.
   We are also adding a height to demonstrate the scrolling behavior. You can remove
   these styles.
 */
/*footer*/
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-color:#bcc0c5;
  color:#FFF;
  margin: 0;
  padding: 0;
  height: 1500px;
}
section{
  text-align:center;
}
.footer #button{
  width:35px;
  height:35px;
  border:#608bd2 12px solid;
  border-radius:35px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
  width:35px;
  height:35px;
  border: #3A3A3A 12px solid;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
    width: 100%;
    height: 40px;
    overflow:hidden;
    margin:0 auto;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: #292c2f;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer h3{
  font-family: 'Helvetica';
  font-size: 30px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
}

/*footer içindekiler*/

 .footer1 {width:100%; height:269px;float:left;color:white; font-family:arial; margin-top: 50px;}
      .footer #kutu b {font-size:14px;}
      * {margin:0px;padding:0px;}
      .footer_container{width:768px; height:175px; margin:30px auto;}
      ul {list-style-type:none;margin:17px 0;padding:0px;}
      #kutu {width:auto; height:125px; float:left;}
      ul li {float:left;font-family:tahoma; font-size:12px; margin-bottom:8px; clear:left; color:#949798; }
      #kutu:last-child li {float:left;clear:none;margin-right:10px;}
      #kutu ul li img{height: 40px; width: 50px; }
   