body{
  padding: 0px;
  margin: 0px;
}
.ust-menu{
  background-color:grey;
  width:%100;
  height:100px;
}
table{
  margin-left: 350px;
  padding-top: 30px;
  border:5px solid black;
}
table tr td{
  margin: 0px;
  padding:0px;
  border:5px solid black;
}